<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="footer-heading">Síguenos en redes</h5>
        <div class="social-links">
          <a href="https://instagram.com/clubsync" target="_blank" class="social-link">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://tiktok.com/@clubsync" target="_blank" class="social-link">
            <i class="bi bi-tiktok"></i>
          </a>
          <a href="https://twitter.com/clubsync" target="_blank" class="social-link">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a href="https://youtube.com/clubsync" target="_blank" class="social-link">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="footer-heading">Enlaces legales</h5>
        <ul class="footer-links">
          <li><a routerLink="/privacidad">Política de Privacidad</a></li>
          <li><a routerLink="/cookies">Política de Cookies</a></li>
          <li><a routerLink="/condiciones">Términos y Condiciones</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="footer-heading">Contacto</h5>
        <ul class="footer-links">
          <li><a routerLink="/contacto">Contactar</a></li>
          <li><a routerLink="/ayuda">Ayuda</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; {{currentYear}} ClubSync. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
