@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Asegurarse de que todos los elementos usen la fuente Roboto */
*, *::before, *::after {
  font-family: 'Roboto', sans-serif;
}
